body  {
  background-color: rgb(133, 197, 216);
}

body .container {
  text-align: center;
  margin-top: 150px;    
}

h1 {
  font-size: 40px;
  color: white;
}

p {
  font-size: 30px;
  color: white;
}

table {
  margin-top: 20px;
}

th, tr {
  color: rgb(54, 50, 50);
}